<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Sitename - Article Headline</title>
    <link rel="canonical" href="$SOME_URL" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Headline for the news story if we want it to rank in google's 'Top Stories'...",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "news-image.jpg"
        ]
      }
    </script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <style amp-custom>
      {% include "/dist/css/main.min.css" %}
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>
  <body>
    <nav class="nav">
      <a href="http://tweglobal.com" target="_top">
        <amp-img width="250" height="50" src="https://www.tweglobal.com/Includes/Global/Images/treasury_wine_estates_logo_header.png" alt="Treasury Wine Estates - Global">
      </a>
    </nav>
    <main>
      <header class="article__header">
        <h1>Penfolds unveils a collaboration with Europe’s most respected French glassmaker Saint-Louis</h1>
        <h2 class="byline">Today Penfolds is celebrating a collaboration with Europe’s most respected French glassmaker, Saint-Louis to acknowledge the art and culture of a service ritual long associated with the flagship Grange.</h2>
      </header>
      <article class="article__content">

        <figure class="article__hero">
          <amp-img class="hero__img" width="288" height="216" src="https://www.tweglobal.com/~/media/Images/Global/News/News-Article-Images/Penfolds-Aevum-Imperial-Service-Ritual-TWE-news-article.jpg?la=en">
            <figcaption>
            Penfolds unveils a collaboration with Europe’s most respected French glassmaker Saint-Louis 18 October 2016
            </figcaption>
        </figure>

        <p>This collaboration also recognises the first commercial release of only five 2012 Grange Imperial 6 litre bottles available on the planet.</p>

        <p>The distinctive hand-made crystal objet d’art service vessel, Penfolds Aevum Imperial Service Ritual, was designed exclusively for the 2012 Grange Imperial. It precisely balances and elevates the Imperial to facilitate the perfect pour. This statuesque design reflects a powerful and passionate union and painstaking hours of crafting and refining the perfect piece. It also ratifies Penfolds reputation of innovation and experimentation while respecting customs of the past and the rarity and splendour of every drop of Grange.</p>

        <p>“Care, double decanting and ceremony is woven into the fabric of Penfolds and transcends the ordinary. The elevation of the service ritual by way of the Penfolds Aevum Imperial Service Ritual enhances the enjoyment of Grange to release aromas and flavours through aeration, and importantly delivers an unforgettable visual experience and sense of occasion,” says Peter Gago, Penfolds Chief Winemaker.</p>

        <p>This is the first time Saint-Louis, who has been making handcrafted crystal objects in France since 1586, has collaborated with a global brand outside of Europe.</p>

        <p>“When talent, heritage and know how come together, the journey from craft to ritual can be truly extraordinary. The collaboration between Penfolds and Saint-Louis represents a marriage of two masters of their crafts. This is the first time something of this calibre has taken place and the first time that we have collaborated with a winemaker at this level,” says Jérôme de Lavergnolle, Chief Executive Officer of Saint-Louis.</p>

        <p>As part of the collaboration, a limited edition release of smaller sculptured decanters Penfolds Aevum Crystal Decanter, accompany the 750ml 2012 Grange and are also available. Each decanter features the striking diamond cut, a signature hallmark of Saint-Louis. Hand-blown, hand crafted.</p>

        <p>2012 Grange leads The Penfolds Collection 2016, a family of fine wines released annually from Penfolds. The Penfolds Collection 2016 is made up of 19 wines spanning five different vintages. Available from Thursday 20th October.</p>

      </article>
    </main>
    <footer>
      <div class="nav__footer-logo">
        <amp-img src="https://www.tweglobal.com/Includes/Global/Images/treasury_wine_estates_logo.png" width="150" height="110">
      </div>
      <ul class="nav__foooter-links">
        <li class="nav__footer-item"><a href="#">Contact</a></li>
        <li class="nav__footer-item"><a href="#">Terms of use</a></li>
        <li class="nav__footer-item"><a href="#">Privacy</a></li>
        <li class="nav__footer-item"><a href="#">Sitemap</a></li>
      </ul>
      <amp-img src="https://www.tweglobal.com/~/media/Images/Core/drinkwise.png?h=17&la=en&w=175" width="175" height="17">
    </footer>
  </body>
</html>
